Repository ava-labs/hypersdk, pull requests merged in 2023-10, with the labels that each got.

#499 [x/programs] Refactor SDK storage
  Cargo.toml
  x/programs/rust/README.md
  x/programs/rust/examples/counter/Cargo.toml
  x/programs/rust/examples/counter/src/lib.rs
  x/programs/rust/examples/lottery/Cargo.toml
  x/programs/rust/examples/lottery/src/lib.rs
  x/programs/rust/examples/pokemon/Cargo.toml
  x/programs/rust/examples/pokemon/src/lib.rs
  x/programs/rust/examples/token/Cargo.toml
  x/programs/rust/examples/token/src/lib.rs
  x/programs/rust/scripts/build.sh
  x/programs/rust/sdk_macros/Cargo.toml
  x/programs/rust/sdk_macros/src/lib.rs
  x/programs/rust/wasmlanche_sdk/src/errors.rs
  x/programs/rust/wasmlanche_sdk/src/errors/mod.rs
  x/programs/rust/wasmlanche_sdk/src/host/mod.rs
  x/programs/rust/wasmlanche_sdk/src/host/program.rs
  x/programs/rust/wasmlanche_sdk/src/host/state.rs
  x/programs/rust/wasmlanche_sdk/src/lib.rs
  x/programs/rust/wasmlanche_sdk/src/memory.rs
  x/programs/rust/wasmlanche_sdk/src/program.rs
  x/programs/rust/wasmlanche_sdk/src/state.rs
  x/programs/rust/wasmlanche_sdk/src/store/mod.rs
  x/programs/rust/wasmlanche_sdk/src/types.rs
Labels: run load, run unit, run sync

#477 [x/programs] migrate to wasm runtime to wasmtime and refactor for VM integration
  Cargo.toml
  go.mod
  go.sum
  scripts/mocks.mockgen.txt
  x/programs/examples/counter.go
  x/programs/examples/counter_test.go
  x/programs/examples/examples.go
  x/programs/examples/imports/program/program.go
  x/programs/examples/imports/pstate/pstate.go
  x/programs/examples/lottery.go
  x/programs/examples/lottery_test.go
  x/programs/examples/pokemon.go
  x/programs/examples/pokemon_test.go
  x/programs/examples/storage/storage.go
  x/programs/examples/testdata/counter.wasm
  x/programs/examples/testdata/lottery.wasm
  x/programs/examples/testdata/pokemon.wasm
  x/programs/examples/testdata/token.wasm
  x/programs/examples/token.go
  x/programs/examples/token_test.go
  x/programs/examples/util.go
  x/programs/runtime/config.go
  x/programs/runtime/consts.go
  x/programs/runtime/dependencies.go
  x/programs/runtime/errors.go
  x/programs/runtime/export.go
  x/programs/runtime/import.go
  x/programs/runtime/invoke_program.go
  x/programs/runtime/map.go
  x/programs/runtime/memory.go
  x/programs/runtime/memory_test.go
  x/programs/runtime/meter.go
  x/programs/runtime/meter_test.go
  x/programs/runtime/mock_storage.go
  x/programs/runtime/runtime.go
  x/programs/runtime/runtime_test.go
  x/programs/runtime/testdata/get_guest.wasm
  x/programs/runtime/testdata/get_guest.wat
  x/programs/rust/README.md
  x/programs/rust/examples/counter/src/lib.rs
  x/programs/rust/examples/token/Cargo.toml
  x/programs/rust/examples/token/src/lib.rs
  x/programs/utils/utils.go
Labels: enhancement, run load, run unit, run sync

#514 [DEVNET] Add Deploy Script + Fix Restart Issue
  .github/workflows/morpheusvm-release.yml
  .github/workflows/tokenvm-release.yml
  .gitignore
  README.md
  chain/block.go
  chain/builder.go
  chain/dependencies.go
  cli/chain.go
  cli/prometheus.go
  cli/spam.go
  examples/morpheusvm/.goreleaser.yml
  examples/morpheusvm/cmd/morpheus-cli/cmd/chain.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/prometheus.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/root.go
  examples/morpheusvm/tests/integration/integration_test.go
  examples/tokenvm/.goreleaser.yml
  examples/tokenvm/DEVNETS.md
  examples/tokenvm/README.md
  examples/tokenvm/cmd/token-cli/cmd/chain.go
  examples/tokenvm/cmd/token-cli/cmd/prometheus.go
  examples/tokenvm/cmd/token-cli/cmd/root.go
  examples/tokenvm/scripts/deploy.devnet.sh
  examples/tokenvm/scripts/setup.dev-machine.sh
  vm/verify_context.go
  vm/vm.go
Labels: run sync

#538 AvalancheGo@v1.10.12
  examples/morpheusvm/genesis/genesis.go
  examples/morpheusvm/go.mod
  examples/morpheusvm/go.sum
  examples/morpheusvm/scripts/run.sh
  examples/tokenvm/genesis/genesis.go
  examples/tokenvm/go.mod
  examples/tokenvm/go.sum
  examples/tokenvm/scripts/deploy.devnet.sh
  examples/tokenvm/scripts/run.sh
  go.mod
  go.sum
  tstate/tstate_test.go
  vm/dependencies.go
  vm/syncervm_client.go
  vm/vm.go
Labels: run unit, run sync

#546 [ci] fix e2e log level
  examples/morpheusvm/scripts/run.sh
  examples/morpheusvm/tests/e2e/e2e_test.go
  examples/tokenvm/scripts/run.sh
  examples/tokenvm/tests/e2e/e2e_test.go
Labels: run unit, run sync

#558 Limit Accepted Block Cache + Store BlockID Index On-Disk
  cli/prometheus.go
  config/config.go
  examples/morpheusvm/scripts/run.sh
  examples/tokenvm/scripts/deploy.devnet.sh
  examples/tokenvm/scripts/run.sh
  pebble/pebble.go
  vm/dependencies.go
  vm/metrics.go
  vm/storage.go
  vm/vm.go
Labels: run unit, run sync

#559 [chain] Add `executor` package for on-the-fly concurrent execution
  executor/executor.go
  executor/executor_test.go
Labels: run unit

#560 [chain] Parallel Transaction Execution During Building and Verification
  README.md
  chain/block.go
  chain/builder.go
  chain/dependencies.go
  chain/fee_manager.go
  chain/processor.go
  chain/transaction.go
  config/config.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/prometheus.go
  examples/morpheusvm/config/config.go
  examples/morpheusvm/scripts/run.sh
  examples/morpheusvm/tests/load/load_test.go
  examples/tokenvm/cmd/token-cli/cmd/prometheus.go
  examples/tokenvm/config/config.go
  examples/tokenvm/scripts/deploy.devnet.sh
  examples/tokenvm/scripts/run.sh
  examples/tokenvm/tests/load/load_test.go
  executor/dependencies.go
  executor/errors.go
  executor/executor.go
  executor/executor_test.go
  tstate/tstate.go
  tstate/tstate_test.go
  tstate/tstate_view.go
  vm/dependencies.go
  vm/metrics.go
  vm/resolutions.go
  vm/vm.go
Labels: run load, run unit, run sync

#565 [crypto] `secp256r1` (P-256) Support
  README.md
  chain/mock_action.go
  chain/mock_auth.go
  chain/mock_auth_factory.go
  chain/mock_rules.go
  crypto/ed25519/ed25519.go
  crypto/ed25519/ed25519_test.go
  crypto/errors.go
  crypto/secp256r1/secp256r1.go
  crypto/secp256r1/secp256r1_test.go
  examples/morpheusvm/auth/ed25519.go
  examples/morpheusvm/go.mod
  examples/morpheusvm/go.sum
  examples/tokenvm/auth/ed25519.go
  examples/tokenvm/go.mod
  examples/tokenvm/go.sum
  go.mod
  scripts/mock.gen.sh
  state/mock_immutable.go
  state/mock_mutable.go
  state/mock_view.go
  vm/mock_controller.go
  vm/vm_test.go
Labels: run unit

#567 [x/programs] Add simulator feature to RustSDK
  x/programs/rust/wasmlanche_sdk/Cargo.toml
  x/programs/rust/wasmlanche_sdk/src/lib.rs
  x/programs/rust/wasmlanche_sdk/src/simulator.rs
Labels: enhancement, run load, run unit, run sync

#569 [x/programs] Improve runtime Config defaults
  x/programs/examples/counter.go
  x/programs/examples/counter_test.go
  x/programs/examples/imports/program/program.go
  x/programs/examples/token.go
  x/programs/examples/token_test.go
  x/programs/runtime/config.go
  x/programs/runtime/config_test.go
  x/programs/runtime/dependencies.go
  x/programs/runtime/memory_test.go
  x/programs/runtime/meter.go
  x/programs/runtime/meter_test.go
  x/programs/runtime/runtime.go
  x/programs/runtime/runtime_test.go
  x/programs/rust/README.md
  x/programs/rust/scripts/build.sh
Labels: run load, run unit, run sync
