Repository ava-labs/hypersdk, pull requests merged in 2023-11, with the labels that each got.

#598 [x/programs] Cleanup macro
  x/programs/rust/sdk_macros/src/lib.rs
Labels: run load, run unit, run sync

#599 [x/programs] Set bulk memory support on debug mode
  x/programs/cmd/simulator/vm/actions/program_execute.go
  x/programs/runtime/config.go
Labels: run load, run unit, run sync, wasm runtime

#606 AvalancheGo@v1.10.15
  examples/morpheusvm/controller/controller.go
  examples/morpheusvm/go.mod
  examples/morpheusvm/go.sum
  examples/morpheusvm/scripts/run.sh
  examples/morpheusvm/tests/integration/integration_test.go
  examples/morpheusvm/tests/load/load_test.go
  examples/tokenvm/cmd/token-faucet/main.go
  examples/tokenvm/cmd/token-feed/main.go
  examples/tokenvm/controller/controller.go
  examples/tokenvm/go.mod
  examples/tokenvm/go.sum
  examples/tokenvm/scripts/run.sh
  examples/tokenvm/tests/integration/integration_test.go
  examples/tokenvm/tests/load/load_test.go
  go.mod
  go.sum
  rpc/utils.go
  server/middleware_handler.go
  server/server.go
  tstate/tstate_test.go
  vm/dependencies.go
  vm/vm.go
  vm/vm_test.go
Labels: run release, run load, run unit, run sync

#607 [chain] Wrap core databases in `CorruptableDB`
  pubsub/server_test.go
  storage/storage.go
Labels: run load, run unit, run sync

#608 [chain] Charge Write Fee on Allocate + Remove Cold/Warm
  README.md
  chain/block.go
  chain/builder.go
  chain/dependencies.go
  chain/fee_manager.go
  chain/mock_rules.go
  chain/processor.go
  chain/transaction.go
  cli/prompt.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/genesis.go
  examples/morpheusvm/genesis/genesis.go
  examples/morpheusvm/genesis/rules.go
  examples/morpheusvm/tests/integration/integration_test.go
  examples/morpheusvm/tests/load/load_test.go
  examples/tokenvm/:q
  examples/tokenvm/cmd/token-cli/cmd/genesis.go
  examples/tokenvm/cmd/token-wallet/backend/backend.go
  examples/tokenvm/cmd/token-wallet/frontend/src/components/Explorer.jsx
  examples/tokenvm/genesis/genesis.go
  examples/tokenvm/genesis/rules.go
  examples/tokenvm/tests/integration/integration_test.go
  examples/tokenvm/tests/load/load_test.go
  tstate/errors.go
  tstate/tstate.go
  tstate/tstate_test.go
  tstate/tstate_view.go
  vm/metrics.go
  vm/resolutions.go
  x/programs/cmd/simulator/vm/genesis/genesis.go
Labels: bug, enhancement, run release, run load, run unit, run sync

#600 [x/programs] Improve overflow checks
  x/programs/examples/counter_test.go
  x/programs/examples/imports/program/program.go
  x/programs/examples/token.go
  x/programs/examples/util.go
  x/programs/runtime/consts.go
  x/programs/runtime/dependencies.go
  x/programs/runtime/errors.go
  x/programs/runtime/memory.go
  x/programs/runtime/runtime.go
  x/programs/runtime/runtime_test.go
  x/programs/runtime/util.go
  x/programs/rust/wasmlanche_sdk/src/memory.rs
Labels: run load, run unit, run sync, wasm runtime
