Repository ava-labs/hypersdk, pull requests merged in 2023-09, with the labels that each got.

#425 [chain] Defer State Root Generation
  README.md
  chain/block.go
  chain/builder.go
  chain/consts.go
  chain/dependencies.go
  chain/errors.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/prometheus.go
  examples/morpheusvm/go.mod
  examples/morpheusvm/go.sum
  examples/morpheusvm/scripts/run.sh
  examples/morpheusvm/storage/state_manager.go
  examples/morpheusvm/storage/storage.go
  examples/morpheusvm/tests/load/load_test.go
  examples/tokenvm/cmd/token-cli/cmd/prometheus.go
  examples/tokenvm/controller/state_manager.go
  examples/tokenvm/go.mod
  examples/tokenvm/go.sum
  examples/tokenvm/scripts/run.sh
  examples/tokenvm/storage/storage.go
  go.mod
  go.sum
  state/mock_view.go
  state/state.go
  vm/dependencies.go
  vm/errors.go
  vm/metrics.go
  vm/resolutions.go
  vm/verify_context.go
  vm/vm.go
Labels: run load, run unit, run sync

#435 [x/merkledb] Separate MerkleDB for Intermediate/Value Nodes
  config/config.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/prometheus.go
  examples/morpheusvm/go.mod
  examples/morpheusvm/go.sum
  examples/morpheusvm/scripts/run.sh
  examples/tokenvm/cmd/token-cli/cmd/prometheus.go
  examples/tokenvm/go.mod
  examples/tokenvm/go.sum
  examples/tokenvm/scripts/run.sh
  go.mod
  go.sum
  tstate/tstate_test.go
  vm/dependencies.go
  vm/vm.go
Labels: run load, run unit, run sync

#436 [vm] Block Pruning (Default to Only Keeping Last 768 Blocks)
  README.md
  chain/block.go
  chain/dependencies.go
  config/config.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/prometheus.go
  examples/morpheusvm/scripts/run.sh
  examples/morpheusvm/tests/e2e/e2e_test.go
  examples/morpheusvm/tests/integration/integration_test.go
  examples/tokenvm/scripts/run.sh
  examples/tokenvm/tests/e2e/e2e_test.go
  examples/tokenvm/tests/integration/integration_test.go
  pebble/metrics.go
  pebble/pebble.go
  vm/dependencies.go
  vm/errors.go
  vm/metrics.go
  vm/resolutions.go
  vm/storage.go
  vm/syncervm_client.go
  vm/syncervm_server.go
  vm/vm.go
  vm/vm_test.go
Labels: run load, run unit, run sync

#446 [x/programs] rewording for better dev ui
  Cargo.toml
  x/programs/examples/lottery.go
  x/programs/examples/lottery_test.go
  x/programs/examples/pokemon_test.go
  x/programs/examples/testdata/counter.wasm
  x/programs/examples/testdata/lottery.wasm
  x/programs/examples/testdata/pokemon.wasm
  x/programs/examples/testdata/token.wasm
  x/programs/runtime/errors.go
  x/programs/runtime/invoke_program.go
  x/programs/runtime/runtime.go
  x/programs/rust/examples/counter/Cargo.toml
  x/programs/rust/examples/counter/src/lib.rs
  x/programs/rust/examples/lottery/Cargo.toml
  x/programs/rust/examples/lottery/src/lib.rs
  x/programs/rust/examples/pokemon/Cargo.toml
  x/programs/rust/examples/pokemon/src/lib.rs
  x/programs/rust/examples/token/Cargo.toml
  x/programs/rust/examples/token/src/lib.rs
  x/programs/rust/sdk_macros/Cargo.toml
  x/programs/rust/sdk_macros/src/lib.rs
  x/programs/rust/wasmlanche_sdk/Cargo.toml
  x/programs/rust/wasmlanche_sdk/src/host/mod.rs
  x/programs/rust/wasmlanche_sdk/src/lib.rs
  x/programs/rust/wasmlanche_sdk/src/store/mod.rs
  x/programs/rust/wasmlanche_sdk/src/types/mod.rs
Labels: run load, run unit, run sync

#458 [tokenvm] Add symbol+decimals
  cli/dependencies.go
  cli/prompt.go
  cli/spam.go
  codec/utils.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/action.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/handler.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/key.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/resolutions.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/spam.go
  examples/morpheusvm/consts/consts.go
  examples/morpheusvm/rpc/jsonrpc_client.go
  examples/tokenvm/actions/consts.go
  examples/tokenvm/actions/export_asset.go
  examples/tokenvm/actions/import_asset.go
  examples/tokenvm/actions/outputs.go
  examples/tokenvm/actions/warp_transfer.go
  examples/tokenvm/cmd/token-browser/app.go
  examples/tokenvm/cmd/token-browser/main.go
  examples/tokenvm/cmd/token-cli/cmd/action.go
  examples/tokenvm/cmd/token-cli/cmd/chain.go
  examples/tokenvm/cmd/token-cli/cmd/handler.go
  examples/tokenvm/cmd/token-cli/cmd/key.go
  examples/tokenvm/cmd/token-cli/cmd/resolutions.go
  examples/tokenvm/cmd/token-cli/cmd/spam.go
  examples/tokenvm/rpc/jsonrpc_client.go
  examples/tokenvm/storage/storage.go
  examples/tokenvm/tests/e2e/e2e_test.go
  examples/tokenvm/tests/integration/integration_test.go
  utils/utils.go
Labels: run unit, run sync

#461 Add PoW Faucet
  crypto/ed25519/ed25519.go
  examples/tokenvm/challenge/challenge.go
  examples/tokenvm/challenge/challenge_test.go
  examples/tokenvm/cmd/token-cli/cmd/action.go
  examples/tokenvm/cmd/token-cli/cmd/key.go
  examples/tokenvm/cmd/token-cli/cmd/root.go
  examples/tokenvm/cmd/token-faucet/config/config.go
  examples/tokenvm/cmd/token-faucet/demo.json
  examples/tokenvm/cmd/token-faucet/main.go
  examples/tokenvm/cmd/token-faucet/manager/manager.go
  examples/tokenvm/cmd/token-faucet/rpc/dependencies.go
  examples/tokenvm/cmd/token-faucet/rpc/jsonrpc_client.go
  examples/tokenvm/cmd/token-faucet/rpc/jsonrpc_server.go
  examples/tokenvm/cmd/token-wallet/frontend/src/components/NavBar.jsx
  examples/tokenvm/scripts/build.sh
  rpc/jsonrpc_client.go
  server/allowed_hosts.go
  server/handler.go
  server/middleware_handler.go
  server/router.go
  server/server.go
  server/wrapper.go
Labels: devnet blocker

#456 [scripts] Set VM build scripts to be executed from every location and create the binary on any location
  examples/morpheusvm/scripts/build.sh
  examples/tokenvm/scripts/build.sh
Labels: run release, run load, run unit, run sync

#486 AvalancheGo@v1.10.10
  examples/morpheusvm/go.mod
  examples/morpheusvm/go.sum
  examples/morpheusvm/scripts/run.sh
  examples/tokenvm/go.mod
  examples/tokenvm/go.sum
  examples/tokenvm/scripts/run.sh
  go.mod
  go.sum
  vm/vm.go
Labels: run release, run load, run unit, run sync

#489 ANR@v1.7.2
  examples/morpheusvm/go.mod
  examples/morpheusvm/go.sum
  examples/morpheusvm/scripts/run.sh
  examples/morpheusvm/tests/e2e/e2e_test.go
  examples/tokenvm/go.mod
  examples/tokenvm/go.sum
  examples/tokenvm/scripts/run.sh
  examples/tokenvm/tests/e2e/e2e_test.go
  go.mod
  go.sum
Labels: run unit, run sync

#490 [ci] Test Build + Build Wallet During Release
  .github/workflows/morpheusvm-static-analysis.yml
  .github/workflows/tokenvm-release.yml
  .github/workflows/tokenvm-static-analysis.yml
  examples/tokenvm/.goreleaser.yml
  examples/tokenvm/cmd/token-wallet/README.md
  examples/tokenvm/cmd/token-wallet/scripts/build.sh
  examples/tokenvm/cmd/token-wallet/scripts/dev.sh
Labels: run release
