Repository ava-labs/hypersdk, pull requests merged in 2023-08, with the labels that each got.

#316 [examples] Increase no gossip builder diff config
  examples/morpheusvm/go.mod
  examples/morpheusvm/go.sum
  examples/morpheusvm/scripts/run.sh
  examples/tokenvm/config/config.go
  examples/tokenvm/controller/controller.go
  examples/tokenvm/go.mod
  examples/tokenvm/go.sum
  examples/tokenvm/scripts/run.sh
  go.mod
  go.sum
  gossiper/proposer.go
Labels: run unit, run sync

#317 [e2] Run e2e with debug mode logs
  examples/morpheusvm/config/config.go
  examples/morpheusvm/controller/controller.go
  examples/morpheusvm/scripts/run.sh
  examples/morpheusvm/tests/e2e/e2e_test.go
  examples/tokenvm/config/config.go
  examples/tokenvm/controller/controller.go
  examples/tokenvm/scripts/run.sh
  examples/tokenvm/tests/e2e/e2e_test.go
Labels: run unit, run sync

#320 [examples] use name_template
  examples/morpheusvm/.goreleaser.yml
  examples/tokenvm/.goreleaser.yml
Labels: run release

#326 Update to AvalancheGo@v1.10.7
  examples/morpheusvm/go.mod
  examples/morpheusvm/go.sum
  examples/morpheusvm/scripts/run.sh
  examples/tokenvm/go.mod
  examples/tokenvm/go.sum
  examples/tokenvm/scripts/run.sh
  go.mod
  go.sum
Labels: run unit, run sync

#314 [morpheus/token] vm limit cpu & disk usage
  examples/morpheusvm/tests/e2e/e2e_test.go
  examples/tokenvm/tests/e2e/e2e_test.go
Labels: run unit, run sync

#329 [mempool] Cap `mempool.Build` time
  chain/builder.go
  chain/dependencies.go
  config/config.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/prometheus.go
  examples/morpheusvm/scripts/run.sh
  examples/morpheusvm/tests/e2e/e2e_test.go
  examples/tokenvm/cmd/token-cli/cmd/prometheus.go
  examples/tokenvm/scripts/run.sh
  examples/tokenvm/tests/e2e/e2e_test.go
  gossiper/dependencies.go
  gossiper/manual.go
  gossiper/proposer.go
  mempool/mempool.go
  vm/dependencies.go
  vm/metrics.go
  vm/resolutions.go
Labels: run unit

#346 AvalancheGo@v1.10.8
  examples/morpheusvm/go.mod
  examples/morpheusvm/go.sum
  examples/morpheusvm/scripts/run.sh
  examples/tokenvm/go.mod
  examples/tokenvm/go.sum
  examples/tokenvm/scripts/run.sh
  go.mod
  go.sum
Labels: run load, run unit, run sync

#350 [mempool] Use `Stream` instead of `Build` + Prefetch Mempool Txs/State + Batch `IsRepeat`
  chain/block.go
  chain/builder.go
  chain/dependencies.go
  emap/emap.go
  examples/morpheusvm/tests/load/load_test.go
  examples/tokenvm/tests/integration/integration_test.go
  gossiper/manual.go
  gossiper/proposer.go
  mempool/mempool.go
  vm/resolutions.go
  vm/vm.go
Labels: run load, run unit, run sync

#351 [crypto] Batch verify proposer gossip
  chain/auth_batch.go
  chain/block.go
  chain/dependencies.go
  chain/transaction.go
  examples/morpheusvm/tests/load/load_test.go
  examples/tokenvm/tests/load/load_test.go
  gossiper/dependencies.go
  gossiper/manual.go
  gossiper/proposer.go
  vm/resolutions.go
  vm/vm.go
  workers/parallel_workers.go
  workers/parallel_workers_test.go
  workers/serial_workers.go
  workers/workers.go
Labels: run unit

#355 [chain] Block Operation Metrics + Fix Fatal Usage
  chain/block.go
  chain/builder.go
  chain/dependencies.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/prometheus.go
  vm/metrics.go
  vm/resolutions.go
  vm/vm.go
Labels: run load, run unit, run sync

#360 Add `x/programs`
  Cargo.toml
  examples/morpheusvm/go.mod
  examples/morpheusvm/go.sum
  examples/tokenvm/go.mod
  examples/tokenvm/go.sum
  go.mod
  go.sum
  x/README.md
  x/programs/README.md
  x/programs/examples/examples.go
  x/programs/examples/testdata/token_contract.wasm
  x/programs/examples/token.go
  x/programs/examples/token_test.go
  x/programs/meter/meter.go
  x/programs/runtime/dependencies.go
  x/programs/runtime/map.go
  x/programs/runtime/program_invoke.go
  x/programs/runtime/runtime.go
  x/programs/rust/README.md
  x/programs/rust/examples/counter_program/Cargo.toml
  x/programs/rust/examples/counter_program/src/lib.rs
  x/programs/rust/examples/even/Cargo.toml
  x/programs/rust/examples/even/src/lib.rs
  x/programs/rust/examples/lottery/Cargo.toml
  x/programs/rust/examples/lottery/src/lib.rs
  x/programs/rust/examples/token_contract/Cargo.toml
  x/programs/rust/examples/token_contract/src/lib.rs
  x/programs/rust/expose_macro/Cargo.toml
  x/programs/rust/expose_macro/src/lib.rs
  x/programs/rust/wasmlanche_sdk/Cargo.toml
  x/programs/rust/wasmlanche_sdk/src/errors/mod.rs
  x/programs/rust/wasmlanche_sdk/src/host/mod.rs
  x/programs/rust/wasmlanche_sdk/src/lib.rs
  x/programs/rust/wasmlanche_sdk/src/program/mod.rs
  x/programs/rust/wasmlanche_sdk/src/store/mod.rs
  x/programs/rust/wasmlanche_sdk/src/types/mod.rs
  x/programs/utils/utils.go
Labels: enhancement, run unit, run sync

#370 [x/programs] Update init_contract to init_program
  .gitignore
  Cargo.toml
  x/programs/examples/testdata/token_contract.wasm
  x/programs/examples/testdata/token_program.wasm
  x/programs/examples/token.go
  x/programs/examples/token_test.go
  x/programs/rust/examples/counter_program/src/lib.rs
  x/programs/rust/examples/even/src/lib.rs
  x/programs/rust/examples/lottery/src/lib.rs
  x/programs/rust/examples/token_program/Cargo.toml
  x/programs/rust/examples/token_program/src/lib.rs
Labels: run unit

#372 [x/programs]: improve metering and add tests
  go.mod
  go.sum
  scripts/mocks.mockgen.txt
  x/programs/examples/examples.go
  x/programs/examples/token.go
  x/programs/meter/meter.go
  x/programs/runtime/dependencies.go
  x/programs/runtime/map.go
  x/programs/runtime/meter.go
  x/programs/runtime/meter_test.go
  x/programs/runtime/mock_storage.go
  x/programs/runtime/program_invoke.go
  x/programs/runtime/runtime.go
  x/programs/runtime/testdata/get_guest.wasm
  x/programs/runtime/testdata/get_guest.wat
Labels: run load, run unit, run sync

#368 [x/programs] add rust linter
  .github/workflows/rust-static-analysis.yml
  .gitignore
  Cargo.toml
  scripts/rust/tests.lint.sh
  x/programs/examples/testdata/token_program.wasm
  x/programs/rust/README.md
  x/programs/rust/examples/counter/Cargo.toml
  x/programs/rust/examples/counter/src/lib.rs
  x/programs/rust/examples/lottery/src/lib.rs
  x/programs/rust/examples/token/Cargo.toml
  x/programs/rust/examples/token/src/lib.rs
  x/programs/rust/wasmlanche_sdk/src/host/mod.rs
  x/programs/rust/wasmlanche_sdk/src/program/mod.rs
  x/programs/rust/wasmlanche_sdk/src/store/mod.rs
  x/programs/rust/wasmlanche_sdk/src/types/mod.rs
Labels: ci, run load, run unit, run sync

#389 [x/programs] simplify metering
  x/programs/examples/token.go
  x/programs/runtime/meter.go
  x/programs/runtime/meter_test.go
  x/programs/runtime/runtime.go
Labels: run load, run unit, run sync

#396 [chain] Fix cold/warm mods
  builder/time.go
  chain/builder.go
  chain/dependencies.go
  chain/errors.go
  chain/fee_manager.go
  chain/processor.go
  chain/result.go
  chain/transaction.go
  examples/morpheusvm/actions/transfer.go
  examples/morpheusvm/auth/ed25519.go
  examples/morpheusvm/storage/storage.go
  examples/morpheusvm/tests/e2e/e2e_test.go
  examples/morpheusvm/tests/integration/integration_test.go
  examples/tokenvm/actions/close_order.go
  examples/tokenvm/actions/fill_order.go
  examples/tokenvm/actions/import_asset.go
  examples/tokenvm/actions/mint_asset.go
  examples/tokenvm/actions/transfer.go
  examples/tokenvm/auth/ed25519.go
  examples/tokenvm/config/config.go
  examples/tokenvm/controller/controller.go
  examples/tokenvm/storage/storage.go
  examples/tokenvm/tests/integration/integration_test.go
  gossiper/proposer.go
  mempool/mempool_test.go
  tstate/errors.go
  tstate/tstate.go
  vm/resolutions.go
Labels: run unit, run sync

#391 [x/gossip] Activity-Based Gossip
  builder/builder.go
  builder/manual.go
  builder/time.go
  cache/fifo.go
  chain/builder.go
  chain/dependencies.go
  chain/errors.go
  chain/fee_manager.go
  chain/processor.go
  chain/result.go
  chain/transaction.go
  cli/chain.go
  cli/spam.go
  examples/morpheusvm/actions/transfer.go
  examples/morpheusvm/auth/ed25519.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/prometheus.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/resolutions.go
  examples/morpheusvm/controller/controller.go
  examples/morpheusvm/storage/storage.go
  examples/morpheusvm/tests/e2e/e2e_test.go
  examples/morpheusvm/tests/integration/integration_test.go
  examples/morpheusvm/tests/load/load_test.go
  examples/tokenvm/actions/close_order.go
  examples/tokenvm/actions/fill_order.go
  examples/tokenvm/actions/import_asset.go
  examples/tokenvm/actions/mint_asset.go
  examples/tokenvm/actions/transfer.go
  examples/tokenvm/auth/ed25519.go
  examples/tokenvm/cmd/token-cli/cmd/prometheus.go
  examples/tokenvm/cmd/token-cli/cmd/resolutions.go
  examples/tokenvm/config/config.go
  examples/tokenvm/controller/controller.go
  examples/tokenvm/storage/storage.go
  examples/tokenvm/tests/e2e/e2e_test.go
  examples/tokenvm/tests/integration/integration_test.go
  examples/tokenvm/tests/load/load_test.go
  gossiper/dependencies.go
  gossiper/gossiper.go
  gossiper/manual.go
  gossiper/proposer.go
  mempool/mempool.go
  mempool/mempool_test.go
  rpc/jsonrpc_client.go
  rpc/websocket_client.go
  rpc/websocket_packer.go
  tstate/errors.go
  tstate/tstate.go
  vm/metrics.go
  vm/resolutions.go
  vm/vm.go
Labels: run load, run unit, run sync

#400 [x/programs] add cargo fmt to rust linter
  scripts/rust/tests.lint.sh
  x/programs/rust/expose_macro/src/lib.rs
Labels: ci, run load, run unit, run sync

#419 Avalanchego@v1.10.9
  README.md
  chain/block.go
  chain/builder.go
  chain/consts.go
  chain/dependencies.go
  chain/errors.go
  chain/mock_action.go
  chain/mock_auth.go
  chain/processor.go
  chain/storage.go
  chain/transaction.go
  crypto/ed25519/ed25519.go
  examples/morpheusvm/actions/transfer.go
  examples/morpheusvm/auth/ed25519.go
  examples/morpheusvm/genesis/genesis.go
  examples/morpheusvm/go.mod
  examples/morpheusvm/go.sum
  examples/morpheusvm/scripts/run.sh
  examples/morpheusvm/storage/storage.go
  examples/tokenvm/actions/burn_asset.go
  examples/tokenvm/actions/close_order.go
  examples/tokenvm/actions/create_asset.go
  examples/tokenvm/actions/create_order.go
  examples/tokenvm/actions/export_asset.go
  examples/tokenvm/actions/fill_order.go
  examples/tokenvm/actions/import_asset.go
  examples/tokenvm/actions/mint_asset.go
  examples/tokenvm/actions/modify_asset.go
  examples/tokenvm/actions/transfer.go
  examples/tokenvm/auth/ed25519.go
  examples/tokenvm/cmd/token-cli/cmd/action.go
  examples/tokenvm/genesis/genesis.go
  examples/tokenvm/go.mod
  examples/tokenvm/go.sum
  examples/tokenvm/scripts/run.sh
  examples/tokenvm/storage/storage.go
  go.mod
  go.sum
  network/network.go
  scripts/mocks.mockgen.txt
  state/mock_immutable.go
  state/mock_mutable.go
  state/mock_view.go
  state/simple.go
  state/state.go
  tstate/dependencies.go
  tstate/tstate.go
  tstate/tstate_test.go
  vm/dependencies.go
  vm/resolutions.go
  vm/vm.go
  vm/warp_manager.go
  x/programs/examples/examples.go
  x/programs/runtime/program_invoke.go
  x/programs/runtime/runtime.go
  x/programs/utils/utils.go
Labels: run load, run unit, run sync

#424 [tests] Defer Accept in Load Tests
  examples/morpheusvm/tests/load/load_test.go
  examples/tokenvm/tests/load/load_test.go
Labels: run load

#388 [x/programs] serialize/deserialize using serde
  .gitignore
  Cargo.toml
  x/programs/examples/lottery.go
  x/programs/examples/lottery_test.go
  x/programs/examples/pokemon.go
  x/programs/examples/pokemon_test.go
  x/programs/examples/testdata/counter.wasm
  x/programs/examples/testdata/lottery.wasm
  x/programs/examples/testdata/pokemon.wasm
  x/programs/examples/testdata/token.wasm
  x/programs/examples/testdata/token_program.wasm
  x/programs/examples/token.go
  x/programs/examples/token_test.go
  x/programs/runtime/map.go
  x/programs/runtime/program_invoke.go
  x/programs/runtime/runtime.go
  x/programs/rust/README.md
  x/programs/rust/examples/counter/src/lib.rs
  x/programs/rust/examples/even/src/lib.rs
  x/programs/rust/examples/lottery/src/lib.rs
  x/programs/rust/examples/pokemon/Cargo.toml
  x/programs/rust/examples/pokemon/src/lib.rs
  x/programs/rust/examples/token/src/lib.rs
  x/programs/rust/scripts/build.sh
  x/programs/rust/wasmlanche_sdk/Cargo.toml
  x/programs/rust/wasmlanche_sdk/src/errors/mod.rs
  x/programs/rust/wasmlanche_sdk/src/host/mod.rs
  x/programs/rust/wasmlanche_sdk/src/program/mod.rs
  x/programs/rust/wasmlanche_sdk/src/store/mod.rs
  x/programs/rust/wasmlanche_sdk/src/types/mod.rs
Labels: run load, run unit, run sync

#431 [x/programs] Remove initial function set when initializing runtime
  x/programs/examples/lottery.go
  x/programs/examples/pokemon.go
  x/programs/examples/testdata/counter.wasm
  x/programs/examples/testdata/lottery.wasm
  x/programs/examples/testdata/pokemon.wasm
  x/programs/examples/testdata/token.wasm
  x/programs/examples/token.go
  x/programs/runtime/dependencies.go
  x/programs/runtime/meter_test.go
  x/programs/runtime/program_invoke.go
  x/programs/runtime/runtime.go
Labels: run load, run unit, run sync

#432 [x/programs] refactor init
  x/programs/examples/lottery.go
  x/programs/examples/pokemon.go
  x/programs/examples/testdata/counter.wasm
  x/programs/examples/testdata/lottery.wasm
  x/programs/examples/testdata/pokemon.wasm
  x/programs/examples/testdata/token.wasm
  x/programs/examples/token.go
  x/programs/runtime/dependencies.go
  x/programs/runtime/map.go
  x/programs/runtime/runtime.go
  x/programs/rust/examples/counter/src/lib.rs
  x/programs/rust/examples/lottery/src/lib.rs
  x/programs/rust/examples/pokemon/src/lib.rs
  x/programs/rust/examples/token/src/lib.rs
  x/programs/rust/expose_macro/src/lib.rs
  x/programs/rust/wasmlanche_sdk/src/host/mod.rs
  x/programs/rust/wasmlanche_sdk/src/lib.rs
  x/programs/rust/wasmlanche_sdk/src/program/mod.rs
  x/programs/rust/wasmlanche_sdk/src/store/mod.rs
Labels: run load, run unit, run sync

#427 [chain] Remove Parent Block Dependency during Verify
  chain/block.go
  chain/builder.go
  chain/consts.go
  chain/dependencies.go
  chain/errors.go
  examples/morpheusvm/storage/state_manager.go
  examples/morpheusvm/storage/storage.go
  examples/tokenvm/controller/state_manager.go
  examples/tokenvm/storage/storage.go
  vm/errors.go
  vm/resolutions.go
  vm/verify_context.go
  vm/vm.go
Labels: run load, run unit, run sync

#395 [x/programs/rust] Use clippy::pedantic in the SDK
  Cargo.toml
  x/programs/rust/examples/lottery/src/lib.rs
  x/programs/rust/expose_macro/src/lib.rs
  x/programs/rust/wasmlanche_sdk/src/host/mod.rs
  x/programs/rust/wasmlanche_sdk/src/lib.rs
  x/programs/rust/wasmlanche_sdk/src/store/mod.rs
  x/programs/rust/wasmlanche_sdk/src/types/mod.rs
Labels: run load, run unit, run sync
