Repository ava-labs/hypersdk, pull requests merged in 2024-01, with the labels that each got.

#657 [x/programs] Add Engine and Store abstractions
  x/programs/engine/config.go
  x/programs/engine/engine.go
  x/programs/engine/engine_test.go
  x/programs/engine/store.go
  x/programs/engine/store_test.go
  x/programs/examples/counter_test.go
  x/programs/examples/imports/program/program.go
  x/programs/examples/imports/pstate/pstate.go
  x/programs/examples/token.go
  x/programs/examples/token_test.go
  x/programs/runtime/config.go
  x/programs/runtime/config_test.go
  x/programs/runtime/dependencies.go
  x/programs/runtime/errors.go
  x/programs/runtime/memory_test.go
  x/programs/runtime/meter.go
  x/programs/runtime/meter_test.go
  x/programs/runtime/runtime.go
  x/programs/runtime/runtime_test.go
  x/programs/tests/fixture/counter.wasm
  x/programs/tests/fixture/token.wasm
  x/programs/tests/utils.go
Labels: run unit

#658 [x/programs] Add host abstractions
  x/programs/examples/counter_test.go
  x/programs/examples/imports/program/program.go
  x/programs/examples/imports/pstate/pstate.go
  x/programs/examples/token.go
  x/programs/examples/token_test.go
  x/programs/host/dependencies.go
  x/programs/host/imports.go
  x/programs/host/link.go
  x/programs/host/link_test.go
  x/programs/runtime/config.go
  x/programs/runtime/consts.go
  x/programs/runtime/dependencies.go
  x/programs/runtime/import.go
  x/programs/runtime/memory_test.go
  x/programs/runtime/runtime.go
  x/programs/runtime/runtime_test.go
Labels: run load, run unit, run sync

#660 [x/programs] add program abstraction
  x/programs/examples/counter_test.go
  x/programs/examples/imports/README.md
  x/programs/examples/imports/program/program.go
  x/programs/examples/imports/pstate/pstate.go
  x/programs/examples/imports/wrap/wrap.go
  x/programs/examples/token.go
  x/programs/examples/utils.go
  x/programs/host/link.go
  x/programs/program/caller.go
  x/programs/program/consts.go
  x/programs/program/dependencies.go
  x/programs/program/errors.go
  x/programs/program/export.go
  x/programs/program/function.go
  x/programs/program/memory.go
  x/programs/program/memory_test.go
  x/programs/program/types/types.go
  x/programs/program/utils.go
  x/programs/runtime/dependencies.go
  x/programs/runtime/export.go
  x/programs/runtime/instance.go
  x/programs/runtime/memory.go
  x/programs/runtime/memory_test.go
  x/programs/runtime/runtime.go
  x/programs/runtime/runtime_test.go
  x/programs/runtime/utils.go
  x/programs/rust/wasmlanche_sdk/src/host/state.rs
  x/programs/tests/fixture/counter.wasm
  x/programs/tests/fixture/memory.wasm
  x/programs/tests/fixture/token.wasm
Labels: run load, run unit, run sync

#659 [x/programs] Improve external program function call DX
  x/programs/examples/imports/program/program.go
  x/programs/rust/examples/counter/src/lib.rs
  x/programs/rust/wasmlanche_sdk/src/host/program.rs
  x/programs/rust/wasmlanche_sdk/src/program.rs
  x/programs/tests/fixture/counter.wasm
Labels: run load, run unit, run sync

#675 [crypto]: add bls
  crypto/bls/private.go
  crypto/bls/private_test.go
  crypto/bls/public.go
  crypto/bls/public_test.go
  crypto/bls/signature.go
  crypto/bls/signature_test.go
  examples/morpheusvm/auth/bls.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/handler.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/key.go
  examples/morpheusvm/cmd/morpheus-cli/cmd/spam.go
  examples/morpheusvm/consts/types.go
  examples/morpheusvm/registry/registry.go
  examples/morpheusvm/tests/integration/integration_test.go
Labels: run release, run unit, run sync

#679 [crypto] add aggregation for BLS public keys
  crypto/bls/public.go
  crypto/bls/public_test.go
Labels: run release, run unit, run sync

#681 [ci] add "run all ci" tag
  .github/workflows/hypersdk-unit-tests.yml
  .github/workflows/morpheusvm-load-tests.yml
  .github/workflows/morpheusvm-release.yml
  .github/workflows/morpheusvm-sync-tests.yml
  .github/workflows/morpheusvm-unit-tests.yml
  .github/workflows/tokenvm-load-tests.yml
  .github/workflows/tokenvm-release.yml
  .github/workflows/tokenvm-sync-tests.yml
  .github/workflows/tokenvm-unit-tests.yml
Labels: run all ci

#684 [chain] fix Base timestamp json typo
  chain/base.go
Labels: run all ci

#669 [chain] Remove State Access from `Auth`
  README.md
  chain/auth_batch.go
  chain/block.go
  chain/builder.go
  chain/dependencies.go
  chain/mock_action.go
  chain/mock_auth.go
  chain/mock_auth_factory.go
  chain/mock_rules.go
  chain/processor.go
  chain/transaction.go
  config/config.go
  examples/morpheusvm/actions/transfer.go
  examples/morpheusvm/auth/bls.go
  examples/morpheusvm/auth/ed25519.go
  examples/morpheusvm/auth/secp256r1.go
  examples/morpheusvm/config/config.go
  examples/morpheusvm/genesis/rules.go
  examples/morpheusvm/scripts/run.sh
  examples/morpheusvm/storage/state_manager.go
  examples/morpheusvm/tests/integration/integration_test.go
  examples/morpheusvm/tests/load/load_test.go
  examples/tokenvm/actions/burn_asset.go
  examples/tokenvm/actions/close_order.go
  examples/tokenvm/actions/create_asset.go
  examples/tokenvm/actions/create_order.go
  examples/tokenvm/actions/export_asset.go
  examples/tokenvm/actions/fill_order.go
  examples/tokenvm/actions/import_asset.go
  examples/tokenvm/actions/mint_asset.go
  examples/tokenvm/actions/transfer.go
  examples/tokenvm/auth/ed25519.go
  examples/tokenvm/config/config.go
  examples/tokenvm/controller/state_manager.go
  examples/tokenvm/genesis/rules.go
  examples/tokenvm/scripts/deploy.devnet.sh
  examples/tokenvm/scripts/run.sh
  examples/tokenvm/tests/integration/integration_test.go
  examples/tokenvm/tests/load/load_test.go
  rpc/dependencies.go
  rpc/jsonrpc_server.go
  rpc/websocket_server.go
  vm/dependencies.go
  vm/resolutions.go
  vm/vm.go
Labels: run all ci

#694 [chore] Update AvalancheGo@v1.10.18
  chain/block.go
  chain/builder.go
  chain/mock_action.go
  chain/mock_auth.go
  chain/mock_auth_factory.go
  chain/mock_rules.go
  config/config.go
  examples/morpheusvm/go.mod
  examples/morpheusvm/go.sum
  examples/morpheusvm/scripts/run.sh
  examples/morpheusvm/tests/e2e/e2e_test.go
  examples/tokenvm/go.mod
  examples/tokenvm/go.sum
  examples/tokenvm/scripts/run.sh
  examples/tokenvm/tests/e2e/e2e_test.go
  go.mod
  go.sum
  gossiper/proposer.go
  scripts/mock.gen.sh
  state/mock_immutable.go
  state/mock_mutable.go
  state/mock_view.go
  state/state.go
  tstate/dependencies.go
  tstate/tstate.go
  tstate/tstate_test.go
  vm/dependencies.go
  vm/mock_controller.go
  vm/proposer_monitor.go
  vm/vm.go
Labels: run all ci

#695 [crypto/ed25519] Preallocate batch size for verification
  crypto/ed25519/ed25519.go
  crypto/ed25519/ed25519_test.go
  examples/morpheusvm/auth/ed25519.go
  examples/morpheusvm/go.mod
  examples/morpheusvm/go.sum
  examples/tokenvm/auth/ed25519.go
  examples/tokenvm/go.mod
  examples/tokenvm/go.sum
  go.mod
  go.sum
Labels: run all ci

#702 `ci`: Add shellcheck step to lint job
  .github/workflows/hypersdk-static-analysis.yml
  .shellcheckrc
  examples/morpheusvm/scripts/build.sh
  examples/morpheusvm/scripts/run.sh
  examples/morpheusvm/scripts/tests.lint.sh
  examples/morpheusvm/scripts/tests.load.sh
  examples/morpheusvm/scripts/tests.unit.sh
  examples/tokenvm/cmd/token-wallet/scripts/build.sh
  examples/tokenvm/scripts/build.sh
  examples/tokenvm/scripts/deploy.devnet.sh
  examples/tokenvm/scripts/run.sh
  examples/tokenvm/scripts/tests.lint.sh
  examples/tokenvm/scripts/tests.load.sh
  examples/tokenvm/scripts/tests.unit.sh
  scripts/fix.lint.sh
  scripts/mock.gen.sh
  scripts/tests.lint.sh
  scripts/tests.shellcheck.sh
  scripts/tests.unit.sh
Labels: ci, run all ci
